@model Submission[]

<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Submitter</th>
            <th>Created</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var submission in Model) {
            <tr>
                <td>
                    <a asp-action="Edit" asp-route-id="@submission.Id">
                        @submission.Id
                    </a>
                </td>
                <td>@submission.Actor</td>
                <td>@submission.Created</td>
            </tr>
        }
    </tbody>
</table>