@using Newtonsoft.Json
@using tacos.mvc.Data
@using tacos.mvc.Helpers

@{
    var departments = (IList<Department>)ViewBag.Departments;
}

<div class="container my-4">
    <div id="react-app">Loading...</div>
</div>

@section scripts {
    <script>
        window.departments = @(Html.Raw(JsonConvert.SerializeObject(departments, JsonHelpers.GetDefaultJsonSerializerSettings())));
    </script>

    <script src="~/dist/create.js" asp-append-version="true"></script>
}
