@using Newtonsoft.Json
@using tacos.core.Data
@using tacos.mvc.Helpers
@model IList<tacos.core.Data.Request>

@{
    var department = (Department)ViewBag.Department;
    var departments = (IList<Department>)ViewBag.Departments;
}

<div class="edit-requests container py-4">
    <div id="react-app">Loading...</div>
</div>

@section scripts {
    
    <script>
        window.department = @(Html.Raw(JsonConvert.SerializeObject(department, JsonHelpers.GetDefaultJsonSerializerSettings())));
        window.departments = @(Html.Raw(JsonConvert.SerializeObject(departments, JsonHelpers.GetDefaultJsonSerializerSettings())));
        window.model = @(Html.Raw(JsonConvert.SerializeObject(Model, JsonHelpers.GetDefaultJsonSerializerSettings())));
    </script>

    <script src="~/dist/edit.js" asp-append-version="true"></script>
}
