@{
    ViewData["Title"] = "Home Page";
}

<section class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="jumbotron-heading text-center">TA Calculation App</h1>
        <p class="lead text-center">CA&ES TA funding request system</p>
        <h4>
            <a href="https://tacos.ucdavis.edu/CAES-TA-Guidelines%202018-21.pdf">
                CA&ES Criteria for TA Funding
            </a>
        </h4>
        <p>
        Criteria for central TA Funding are updated every 3 years by a committee of CA&ES Faculty.
        </p>
        <p>
        Requests for additional TA or Reader support for courses with unusually special circumstances will be considered using the exception request process.
        </p>
        <h4>
            Annual Timeline
        </h4>
        <ul class="list-unstyled">
            <li>
                March – Annual data refresh
            </li>
            <li>
                April – Call for departments to begin reviewing and entering annual TA submissions 
            </li>
            <li>
                August – Deadline for departments to review and finalize annual TA submissions
            </li>
            <li>
                September-October – Dean’s Office plans to allocate annual TA funding to departments
            </li>
        </ul>
        <p>Ad-hoc exception requests for changed circumstances (example: adding a new section to reduce waitlist) may be submitted throughout the year and funding will be allocated upon approval.</p>
        <p class="text-center">
            <a asp-controller="Requests" asp-action="index" class="btn btn-secondary my-2">View My Existing Requests</a>
        </p>
    </div>
</section>