@{
    ViewData["Title"] = "Home Page";
}

<section class="jumbotron text-center">
    <div class="container">
        <h1 class="jumbotron-heading">TA Calculation App</h1>
        <p class="lead text-muted">Some basic information about how this will work, where to go for more info.</p>
        <p>
        <a href="#" class="btn btn-primary my-2">Create TA Request Submission</a>
        <a href="#" class="btn btn-secondary my-2">View My Existing Submissions</a>
        </p>
    </div>
</section>