@using Microsoft.AspNetCore.Http

@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager


@if (User.Identity.IsAuthenticated)
{
    var user = await UserManager.GetUserAsync(User);
    if (user != null) {
        <div>
            Hello @user.Name!
        </div>
    } else {
        <div>Hello @User.Identity.Name</div>
    }
}
else
{

}
