@using Microsoft.AspNetCore.Http

@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager


@if (User.Identity.IsAuthenticated)
{
    var user = await UserManager.GetUserAsync(User);
    if (user != null) {
        <div>
            Hello @user.Name!
        </div>
    } else {
        <p><a asp-area="" asp-controller="Account" asp-action="Login">Log in</a></p>
    }
}
else
{

}
