@import 'depends';
@import 'animations';
@import 'regions';
@import 'vendor';

@import '~pretty-checkbox/src/pretty-checkbox.scss';
@import '~react-table/react-table.css';

/* site specific sass here */

html {
  scroll-behavior: smooth;
}

// // fonts
@font-face {
  font-family: "proxima-nova-r";
  src: url("../media/proximanova-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "proxima-nova-i";
  src: url("../media/proximanova-regularit-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "proxima-nova-b";
  src: url("../media/proximanova-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}



// fix stupid ucdavis styles
.btn {
  &.btn-link {
    border: none;
  }
}

.table {
    margin-top: 3rem;
    margin-bottom: 5rem;

    td {
        vertical-align: baseline;
    }
}

.target-flash {
  animation: background-flash 1000ms 2 ease 1000ms;
}

.input-group-text{
background-color: $accent;
}

 
#submit-button{
margin-left: 4px;
}

.exceptionRow {
  background-color: $accent;
  padding: 0.75rem;

  p {
    color: $primary-color;
    margin-top: 0.5rem;
    margin-bottom: 0;
  }
}

.exceptionRowComponents {
  margin-top: 2px;
}


table.requests {

  border: none;

  th, td {
    border: none;
  }

  tbody {
    border-top: 1px solid $borders;
  }
}

.tacoAnimation-Parent-Div {
  background-color: #fbfbfb;
}