@model Submission[]

<div class="container my-4">
    @if (Model.Length == 0)
    {
        <div class="alert alert-info">You have no submissions :(</div>
    }
    else
    {
    <h3>Your submissions</h3>
    }


    <ul>
        @foreach (var submission in Model)
        {
            <li>
                <a asp-action="Details" asp-route-id="@submission.Id">
                    @submission.Created
                </a>
            </li>
        }
    </ul>

    <a class="btn btn-primary" asp-controller="submission" asp-action="create">Create New Submission</a>
</div>