@model Submission[]


<h3>Your submissions</h3>

<ul>
@foreach(var submission in Model) {
 <li>
    <a asp-action="Details" asp-route-id="@submission.Id">
        @submission.Created
    </a>
 </li>   
}
</ul>

<a class="btn btn-primary" asp-controller="submission" asp-action="create">Create New Submission</a>